body {
    background-color: #bfcbdb
}
.component {
    background-color: rgb(255, 255, 255, 0.80);
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}
#nav-title {
  font-size: 20px;
}

.nav  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 30px;
}

.nav li {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

 li a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;

}

li a:hover {
  background-color: #111;
  color: white;
}

.component {
    border-style: ridge;
    border-color: #b8b7b780;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

#text-input {
    width: 400px;
    margin-right: 5px;
}
button {
    border-color: #333;
    border-radius: 5px;
    background-color: #54504c;
    color: white;
    padding: 6;
}

button:hover {
    background-color: #333;
}

#query-results ul {
  list-style-type: none;
}